.second-phase {
    display: none;
}

.third-phase {
    display: none;
}

body {
    background-image: url('../timeline-background-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}