.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

html, body {
    margin: 0;
    padding: 0;
    color: white;

    h1, h2, li {
        color: white;
    }

    h1.campaign-h1 {
        margin: 2rem 0 1rem 0;
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

body {
    background-image: url('../timeline-background-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    main {
        margin-top: 5rem;
    }
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px white solid;
}

ul.navbar-nav {
    flex-direction: row;

    .nav-link {
        color: white !important;
        padding: 0 2rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
    }
}

canvas {
    position: fixed !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.date-section {
    /* border: 2px solid white; */
    border-radius: 4px;
    margin-bottom: 2rem;
    background-color: #22222299;


    h2 {
        padding: 3rem 0 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
    }

    ul, ol {

        padding: 0 5rem;
        li {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.5rem;
            padding: 0 1rem 1.5rem 1rem;

            strong {
                color: #7E56E3;
            }

            &:last-child {
                padding-bottom: 3rem;
            }
        }
    }
}
